.reg-section {
  /* background-image: linear-gradient(rgb(167, 26, 26), rgb(145, 1, 1)); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

#reg-card {
  width: 100%;
  max-width: 500px;
}

/* #submit-id {
  background-image: linear-gradient(rgb(167, 26, 26), rgb(145, 1, 1));
  color: white;
  padding: 5px;
  border: none;
  border-radius: 6px;
} */